body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #384bb7;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.logo {
  color: #ff645a;
  font-style: bold;
  font-size: 50px;
  margin-top: 0;
}

.logo p {
  margin: 0;
  margin-bottom: 10px;
}

.GBwrapper {
  display: flex;
}
